@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-inputs/styles/material.css";
.remove-btn {
  margin-right:0.5rem;
}

.fade-enter{
    opacity:0.01;
}

.fade-enter-active{
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit{
 opacity:1;
}

.fade-exit-active{
  opacity:0.01;
  transition: opacity 1000ms ease-in;
}

.exp{visibility: hidden;}

.drawerpaper{
  width:240px;
  top:80px;
  position:sticky;
}

.MuiDrawer-paper{
  width:240px;
  top:80px;
  position:sticky;
}
